# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
ENV/
env/

# Streamlit
.streamlit/

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# Project Outputs
outputs/results/*
!outputs/results/.gitkeep
